<div class="global-wrapper col-lg-12">
    <form>
        <input Type="button" class="back" VALUE="Back" onClick="history.go(-1);return true;">
    </form>
    <br />
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
         
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_01.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_02.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_03.jpg" alt="...">
                <div class="carousel-caption">
                   <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_04.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_05.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
              <div class="item">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_06.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
              <div class="item">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_07.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
              <div class="item">
                <img src="images/graphic-2/Cleveland-Clinic/ClevelandClinic_08.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
        </div>
    </div> 
</div>