<div class="graphic-wrapper">
    <div class="col-md-12 graphics">
        <img class="grapic-img" src="http://placekitten.com/310/300">
        <img class="grapic-img" src="http://placekitten.com/310/300">
        <img class="grapic-img" src="http://placekitten.com/310/300">
        <img class="grapic-img" src="http://placekitten.com/310/300">
    </div>
</div>