<div class="graphic-wrapper">
    <div class="col-lg-12 section-header">
        <span class="section-title">
            Graphic Design
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 graphics section-content">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
            <img class="grapic-img" src="http://placekitten.com/310/300">
        </div>
    </div>
</div>