<div class="global-wrapper">
    <div class="col-lg-12 section-header section-graphic">
        <span class="section-title">
            Graphic Design
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 graphics section-content">
            <a class="art-thumbnail" href="/ball-carousel"><img class="graphic-img" src="images/graphic-design/balls/ballsthumb.jpg"></a>
            <a class="art-thumbnail" href="/cutouts-carousel"><img class="graphic-img" src="images/graphic-design/cutouts/cutouts_thumb.jpg"></a>
            <a class="art-thumbnail" href="/grafic-carousel"><img class="graphic-img" src="images/graphic-design/grafik/grafik_thumb.jpg"></a>
            <a class="art-thumbnail" href="/kitchen-carousel"><img class="graphic-img" src="images/graphic-design/kitchen/kitchenthumb.jpg"></a>
            <a class="art-thumbnail" href="/alergy-carousel"><img class="graphic-img" src="images/graphic-design/alergy/alergy_thumb.jpg"></a>
        </div>
    </div>
</div>