<div class="global-wrapper">
    <div class="col-lg-12 section-header">
        <span class="section-title">
            Graphic Design
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 graphics section-content">
            <a class="art-thumbnail" href="/ball-carousel"><img class="graphic-img" src="images/graphic-design/balls/BallsThumb.jpg"></a>
            <img class="graphic-img" src="images/graphic-design/cutouts/cutouts_thumb.jpg">
            <img class="graphic-img" src="images/graphic-design/grafik/grafik_thumb.jpg">
            <img class="graphic-img" src="images/graphic-design/kitchangraphic_web/kitchenthumb.jpg">
            <img class="graphic-img" src="images/graphic-design/alergy/alergy_thumb.jpg">
        </div>
    </div>
</div>