<div class="global-wrapper">
    <form class="ball-back">
        <input Type="button" class="back" VALUE="Back" onClick="history.go(-1);return true;">
    </form>
    <br />
    <div class="global-wrapper col-lg-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/illustration/great-books/books_slide_01.jpg" alt="...">
                    <div class="carousel-caption">
                        <!-- <h3>Caption Text</h3> -->
                    </div>
                </div>
                <div class="item">
                    <img src="images/illustration/great-books/books_slide_02.jpg" alt="...">
                    <div class="carousel-caption">
                        <!-- <h3>Caption Text</h3> -->
                    </div>
                </div>
                <div class="item">
                    <img src="images/illustration/great-books/books_slide_03.jpg" alt="...">
                    <div class="carousel-caption">
                        <!-- <h3>Caption Text</h3> -->
                    </div>
                </div>
                <div class="item">
                    <img src="images/illustration/great-books/books_slide_04.jpg" alt="...">
                    <div class="carousel-caption">
                        <!-- <h3>Caption Text</h3> -->
                    </div>
                </div>
                <div class="item">
                    <img src="images/illustration/great-books/books_slide_05.jpg" alt="...">
                    <div class="carousel-caption">
                        <!-- <h3>Caption Text</h3> -->
                    </div>
                </div>
                <div class="item">
                    <img src="images/illustration/great-books/books_slide_06.jpg" alt="...">
                    <div class="carousel-caption">
                        <!-- <h3>Caption Text</h3> -->
                    </div>
                </div>

            </div>
        </div> 
    </div>
</div>