<div class="row">   
    <div class="col-md-8">
        <div class="carousel slide homepage-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/carousel/city.jpg" alt="...">
                    
                </div>
                <div class="item">
                    <img src="images/carousel/conceptual.jpg" alt="...">

                </div>
                <div class="item">
                    <img src="images/carousel/diversity.jpg" alt="...">
                    
                </div>
                <div class="item">
                    <img src="images/carousel/graphic-design.jpg" alt="...">
                    
                </div>
                <div class="item">
                    <img src="images/carousel/graphic.jpg" alt="...">
                   
                </div>
                <div class="item">
                    <img src="images/carousel/kitchen.jpg" alt="...">
                  
                </div>
                <div class="item">
                    <img src="images/carousel/packaging.jpg" alt="...">
                   
                </div>
                <div class="item">
                    <img src="images/carousel/realism.jpg" alt="...">
                 
                </div>
                <div class="item">
                    <img src="images/carousel/social-media.jpg" alt="...">
                   
                </div>
                <div class="item">
                    <img src="images/carousel/watercolor.jpg" alt="...">
                   
                </div>
            </div>
        </div> <!-- Carousel --> 
    </div>
    <div class="col-md-4 carousel-right">
        <div class="text-right-carousel">
            <img class="thumb9" src="images/homepage/thumb-acs-top.jpg">
            <iframe class="homepage-video video9" src="https://www.youtube.com/embed/lf5PdLdg_hI?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-right-carousel right-carousel-bottom">
            <img class="thumb10" src="images/homepage/thumb-acs-02.jpg">
            <iframe class="homepage-video video10" src="https://www.youtube.com/embed/Bdd7GqmgZS4?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<iframe width="854" height="480" src="https://www.youtube.com/embed/Bdd7GqmgZS4" frameborder="0" allowfullscreen></iframe>