<div class="homepage-wrapper row">
    <div class="carousel-placeholder col-md-8">
        <div class="cat">
            <img src="http://placekitten.com/820/452">
        </div>
    </div>
    <div class="carousel-right col-md-4">
        <div class="text-right-carousel">
            Hey there! Here you can put any kind of text you want so that your customers can understand the sight!<br>

        </div>
        <div class="pink">
            
        </div>
    </div>
</div>