<div class="row">   
    <div class="col-md-8">
        <div class="carousel slide homepage-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/carousel/city.jpg" alt="...">
                    
                </div>
                <div class="item">
                    <img src="images/carousel/conceptual.jpg" alt="...">

                </div>
                <div class="item">
                    <img src="images/carousel/diversity.jpg" alt="...">
                    
                </div>
                <div class="item">
                    <img src="images/carousel/graphic-design.jpg" alt="...">
                    
                </div>
                <div class="item">
                    <img src="images/carousel/graphic.jpg" alt="...">
                   
                </div>
                <div class="item">
                    <img src="images/carousel/kitchen.jpg" alt="...">
                  
                </div>
                <div class="item">
                    <img src="images/carousel/packaging.jpg" alt="...">
                   
                </div>
                <div class="item">
                    <img src="images/carousel/realism.jpg" alt="...">
                 
                </div>
                <div class="item">
                    <img src="images/carousel/social-media.jpg" alt="...">
                   
                </div>
                <div class="item">
                    <img src="images/carousel/watercolor.jpg" alt="...">
                   
                </div>
            </div>
        </div> <!-- Carousel --> 
    </div>
    <div class="col-md-4 carousel-right">
        <div class="text-right-carousel">
            <img src="images/acs.png">
        </div>
        <div class="pink">
            <img src="images/placeholder.jpg">
        </div>
    </div>
</div>