<div class="global-wrapper">
    <div class="col-lg-12 section-header">
        <span class="section-title">
            Illustration
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 graphics section-content">
            <a class="art-thumbnail" href="/autocruise-carousel"><img class="graphic-img" src="images/illustration/autocruise/autocruise_thumb.jpg"></a>
            <a class="art-thumbnail" href="/boutique-carousel"><img class="graphic-img" src="images/illustration/boutique/boutique_thumb.jpg"></a>
            <a class="art-thumbnail" href="/crazy-machine-carousel"><img class="graphic-img" src="images/illustration/crazymachine/crazythumb.jpg"></a>
            <a class="art-thumbnail" href="/editorial-carousel"><img class="graphic-img" src="images/illustration/editorial/editorial_thumb.jpg"></a>
            <a class="art-thumbnail" href="/faces-carousel"><img class="graphic-img" src="images/illustration/faces/faces_thumb.jpg"></a>
        </div>
    </div>
</div>