<div class="global-wrapper">
    <div class="col-lg-12 section-header">
        <span class="section-title">
            Illustration
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 graphics section-content">
            <a class="art-thumbnail" href="/autocruise"><img class="graphic-img" src="images/illustration/autocruise/autocruise_thumb.jpg"></a>
            <a class="art-thumbnail" href="/boutique"><img class="graphic-img" src="images/illustration/boutique/boutique_thumb.jpg"></a>
            <a class="art-thumbnail" href="/crazy-machine"><img class="graphic-img" src="images/illustration/crazymachine/crazythumb.jpg"></a>
            <a class="art-thumbnail" href="/editorial"><img class="graphic-img" src="images/illustration/editorial/editorial_thumb.jpg"></a>
            <a class="art-thumbnail" href="/faces"><img class="graphic-img" src="images/illustration/faces/faces_thumb.jpg"></a>
            <a class="art-thumbnail" href="/ice-cream-girls"><img class="graphic-img" src="images/illustration/icecreamgirls/icecreamgirls_thumb.jpg"></a>
            <a class="art-thumbnail" href="/outsider"><img class="graphic-img" src="images/illustration/outsider/outsider_thumb.jpg"></a>
            <a class="art-thumbnail" href="/primitive"><img class="graphic-img" src="images/illustration/primitive/primitive_thumb.jpg"></a>
            <a class="art-thumbnail" href="/retro"><img class="graphic-img" src="images/illustration/retro/retro_thumb.jpg"></a>
            <a class="art-thumbnail" href="/sharpie"><img class="graphic-img" src="images/illustration/sharpie/sharpie_thumb.jpg"></a>
            <a class="art-thumbnail" href="/speed"><img class="graphic-img" src="images/illustration/speed/speed-thumb.jpg"></a>
            <a class="art-thumbnail" href="/technical"><img class="graphic-img" src="images/illustration/technical/technical_thumb.jpg"></a>
            <a class="art-thumbnail" href="/birds"><img class="graphic-img" src="images/illustration/birds/birds_thumb.jpg"></a>
            <a class="art-thumbnail" href="/black-chalk"><img class="graphic-img" src="images/illustration/black-chalk/blackchalk_thumb.jpg"></a>
            <a class="art-thumbnail" href="/book-covers"><img class="graphic-img" src="images/illustration/book-covers/bookcovers_thumb.jpg"></a>
            <a class="art-thumbnail" href="/botanicals"><img class="graphic-img" src="images/illustration/botanicals/botanicals_thumb.jpg"></a>
            <a class="art-thumbnail" href="/business"><img class="graphic-img" src="images/illustration/business/business_thumb.jpg"></a>
            <a class="art-thumbnail" href="/circus"><img class="graphic-img" src="images/illustration/circus/circus_thumb.jpg"></a>
            <a class="art-thumbnail" href="/great-books"><img class="graphic-img" src="images/illustration/great-books/books_thumb.jpg"></a>
            <a class="art-thumbnail" href="/hands"><img class="graphic-img" src="images/illustration/hands/hands_thumb.jpg"></a>
            <a class="art-thumbnail" href="/metropolitan"><img class="graphic-img" src="images/illustration/metropolitan/metro_thumb.jpg"></a>
            <a class="art-thumbnail" href="/oneliners"><img class="graphic-img" src="images/illustration/oneliner/oneliner_thumb.jpg"></a>
            <a class="art-thumbnail" href="/sarcasm"><img class="graphic-img" src="images/illustration/sarcasm/sarcasm_thumb.jpg"></a>
            <a class="art-thumbnail" href="/storyboards"><img class="graphic-img" src="images/illustration/storyboards/storyboard_thumb.jpg"></a>
            <a class="art-thumbnail" href="/winter-trees"><img class="graphic-img" src="images/illustration/winter-trees/tree_thumb.jpg"></a>                                                       
            
        </div>
    </div>
</div>