<div class="global-wrapper">
    <div class="col-lg-12 section-header">
        <span class="section-title">
            Illustration
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 graphics section-content">
            <a class="art-thumbnail" href="/autocruise-carousel"><img class="graphic-img" src="images/illustration/autocruise/autocruise_thumb.jpg"></a>
            <a class="art-thumbnail" href="/boutique-carousel"><img class="graphic-img" src="images/illustration/boutique/boutique_thumb.jpg"></a>
            <a class="art-thumbnail" href="/crazy-machine-carousel"><img class="graphic-img" src="images/illustration/crazymachine/crazythumb.jpg"></a>
            <a class="art-thumbnail" href="/editorial-carousel"><img class="graphic-img" src="images/illustration/editorial/editorial_thumb.jpg"></a>
            <a class="art-thumbnail" href="/faces-carousel"><img class="graphic-img" src="images/illustration/faces/faces_thumb.jpg"></a>
            <a class="art-thumbnail" href="/icream-girls-carousel"><img class="graphic-img" src="images/illustration/icecreamgirls/icecreamgirls_thumb.jpg"></a>
            <a class="art-thumbnail" href="/outsider"><img class="graphic-img" src="images/illustration/outsider/outsider_thumb.jpg"></a>
            <a class="art-thumbnail" href="/primitive"><img class="graphic-img" src="images/illustration/primitive/primitive_thumb.jpg"></a>
            <a class="art-thumbnail" href="/retro"><img class="graphic-img" src="images/illustration/retro/retro_thumb.jpg"></a>
            <a class="art-thumbnail" href="/sharpie"><img class="graphic-img" src="images/illustration/sharpie/sharpie_thumb.jpg"></a>
            <a class="art-thumbnail" href="/speed"><img class="graphic-img" src="images/illustration/speed/speed-thumb.jpg"></a>
            <a class="art-thumbnail" href="/technical"><img class="graphic-img" src="images/illustration/technical/technical_thumb.jpg"></a>
        </div>
    </div>
</div>