<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/global1.css">
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <!--STYLES END-->
    </head>

    <body>

        <header class="nav-header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="/"><img src="images/logo/logouse.png"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right navi-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/graphic">Graphic</a></li>
                            <li><a href="/illustration">Illustration</a></li>
                            <li><a href="/motion">Motion</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
                <div class="border">

                </div>
            </nav>
        </header>
        <div class="container project-container">
            <%- body %>
        </div>

        <footer>

            <footer>
                <div class="container">
                    <div class="row">     
                        <div class="col-md-4  ">
                            <div class="footer-content-1 footer-float">
                                <div class="container">

                                    <h1 class="text-center"><a href="#myModal" role="button" class="btn btn-primary btn-lg contact-btn" data-toggle="modal"><img src="images/startbutton.jpg"></a></h1>

                                </div>


                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-body contact-wrapper">
                                                <div class="contact-left">
                                                    Artclicker Creative Solutions <br />
                                                    410 S Michigan Ave <br />
                                                    Suite 1022 Chicago IL 60605 <br />
                                                    Phone: 312-730-6020 <br/>
                                                </div>
                                                <div class="contact-right">
                                                    <form class="form-horizontal contact-form">
                                                        <div class="form-head">Contact Us!</div>
                                                        <div class="form-group"><label>Name</label><input name="name" class="form-control required" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text" required></div>
                                                        <div class="form-group"><label>Message</label><textarea name="message" class="form-control" placeholder="Your message here.." data-placement="top" data-trigger="manual" required></textarea></div>
                                                        <div class="form-group"><label>E-Mail</label><input name="email" class="form-control email" placeholder="email@you.com (so that we can contact you)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text" required></div>
                                                        <div class="form-group"><label>Phone</label><input name="phone" class="form-control phone" placeholder="999-999-9999" data-placement="top" data-trigger="manual" data-content="Must be a valid phone number (999-999-9999)" type="text" required></div>
                                                        <div class="form-group buttons text-center"><button type="submit" class="btn btn-success" value="Send Email">Send It!</button><button class="btn cancel-btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p></div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">

                            <div class="partners section-content footer-float">
                                <div class="partner-logo">
                                    <a href="http://www.artclicker.com/"><img src="images/partners/RoyaltyFree.png"></a>
                                    <a href="http://www.greatsketch.com/"><img src="images/partners/Published.png"></a>
                                    <a href="http://studio10twentytwo.com/"><img src="images/partners/Originals.png"></a>
                                    <a href="http://www.richlospeaks.com/"><img src="images/partners/Blog.png"></a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-1 ">

                            <div class="social-media footer-float">
                                <div class="social-logo">
                                    <a class="fb-logo" href="https://www.facebook.com/Artclicker/"><img src="images/social-media/FB_1.png"></a> <br/>
                                    <a href="https://twitter.com/Artclicker"><img src="images/social-media/Twitter_2.png"></a> <br />
                                    <a href="https://www.youtube.com/channel/UCYaL7IMvSiiZeoH-B8MlDEw/feed"><img src="images/social-media/YouTube_3.png"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>


        </footer>


        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/1jquery-2.1.4.js"></script>
        <script src="/js/dependencies/bootstrap.min.js"></script>
        <script src="/js/form.js"></script>
        <script src="/js/global.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
