<div class="row">
    <div class="col-md-12"> 
        <img class="custom-thumb thumb1" src="images/motion-thumbs/Mobility.jpg">
        <iframe class="video1 acsvideo" src="https://www.youtube.com/embed/7gmiSPoiMR4?rel=0" frameborder="0" allowfullscreen></iframe>
        
        <img class="custom-thumb thumb2" src="images/motion-thumbs/Flyfisherman.jpg">
        <iframe class="video2 acsvideo" src="https://www.youtube.com/embed/YEl1HNDwerc?rel=0" frameborder="0" allowfullscreen></iframe>
        
        <img class="custom-thumb thumb3" src="images/motion-thumbs/KitchenEssentials.jpg">
        <iframe class="video3 acsvideo" src="https://www.youtube.com/embed/DnOl8oe-p_4?rel=0" frameborder="0" allowfullscreen></iframe>
        
        <img class="custom-thumb thumb4" src="images/motion-thumbs/MarketForce.jpg">
        <iframe class="video4 acsvideo" src="https://www.youtube.com/embed/OAgoLCtWOmY?rel=0" frameborder="0" allowfullscreen></iframe>
        
        <img class="custom-thumb thumb5" src="images/motion-thumbs/WorldHeart.jpg">
        <iframe class="video5 acsvideo" src="https://www.youtube.com/embed/BjptPVNouic?rel=0" frameborder="0" allowfullscreen></iframe>
        
        <img class="custom-thumb thumb6" src="images/motion-thumbs/NewYear.jpg">
        <iframe class="video6 acsvideo" src="https://www.youtube.com/embed/rY_Xg045sMY?rel=0" frameborder="0" allowfullscreen></iframe>
        
        <img class="custom-thumb thumb7" src="images/motion-thumbs/LanguageOfArt.jpg">
        <iframe class="video7 acsvideo" src="https://www.youtube.com/embed/RPkx7jztVoY?rel=0" frameborder="0" allowfullscreen></iframe>
        
        <img class="custom-thumb thumb8" src="images/motion-thumbs/BicycleRide.jpg">
        <iframe class="video8 acsvideo" src="https://www.youtube.com/embed/m9oMoQDJ1bY?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
