<div class="row">
    <div class="col-md-12">  
        <img class="custom-thumb thumb1" src="images/motion-thumbs/HowACSWorks_Thumb.jpg">
        <iframe class="video1 acsvideo" src="https://www.youtube.com/embed/UsuWt-oqFyg?rel=0" frameborder="0" allowfullscreen></iframe>

        <img class="custom-thumb thumb2" src="images/motion-thumbs/ACSAdvantage.jpg">
        <iframe class="video2 acsvideo" src="https://www.youtube.com/embed/lf5PdLdg_hI?rel=0" frameborder="0" allowfullscreen></iframe>

        <img class="custom-thumb thumb3" src="images/motion-thumbs/ACSOverview.jpg">
        <iframe class="video3 acsvideo" src="https://www.youtube.com/embed/Bdd7GqmgZS4?rel=0" frameborder="0" allowfullscreen></iframe>

        <img class="custom-thumb thumb4" src="images/motion-thumbs/ACSTextAnimation.jpg">
        <iframe class="video4 acsvideo" src="https://www.youtube.com/embed/crg0ahAkZNU?rel=0" frameborder="0" allowfullscreen></iframe>

        <img class="custom-thumb thumb5" src="images/motion-thumbs/Mobility.jpg">
        <iframe class="video5 acsvideo" src="https://www.youtube.com/embed/Tt7Q_Dw9FNQ?rel=0" frameborder="0" allowfullscreen></iframe>

        <img class="custom-thumb thumb6" src="images/motion-thumbs/KitchenEssentials.jpg">
        <iframe class="video6 acsvideo" src="https://www.youtube.com/embed/cXBHfiAUJ6w?rel=0" frameborder="0" allowfullscreen></iframe>

        <img class="custom-thumb thumb7" src="images/motion-thumbs/MarketForce.jpg">
        <iframe class="video7 acsvideo" src="https://www.youtube.com/embed/ReZncssbJUg?rel=0" frameborder="0" allowfullscreen></iframe>

        <img class="custom-thumb thumb8" src="images/motion-thumbs/WorldHeart.jpg">
        <iframe class="video8 acsvideo" src="https://www.youtube.com/embed/BjptPVNouic?rel=0" frameborder="0" allowfullscreen></iframe>

    </div>
</div>