<div class="row">
    <div class="col-md-12"> 
        <iframe class="acsvideo" src="https://www.youtube.com/embed/O82LUZEI2Ss?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe class="acsvideoright" src="https://www.youtube.com/embed/4cDrESzsK1w?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe class="acsvideo" src="https://www.youtube.com/embed/RPkx7jztVoY?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe class="acsvideoright" src="https://www.youtube.com/embed/iCI8CamPhWk?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe class="acsvideo" src="https://www.youtube.com/embed/rY_Xg045sMY?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe class="acsvideoright" src="https://www.youtube.com/embed/Nqp0hf5zp6k?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>