<div class="global-wrapper col-lg-12">
    <form>
        <input Type="button" class="back" VALUE="Back" onClick="history.go(-1);return true;">
    </form>
    <br />
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/illustration/speed/speed01.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/illustration/speed/speed02.jpg" alt="...">
                <div class="carousel-caption">
                    <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/illustration/speed/speed03.jpg" alt="...">
                <div class="carousel-caption">
                   <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/illustration/speed/speed04.jpg" alt="...">
                <div class="carousel-caption">
                   <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
            <div class="item">
                <img src="images/illustration/speed/speed05.jpg" alt="...">
                <div class="carousel-caption">
                   <!-- <h3>Caption Text</h3> -->
                </div>
            </div>
        </div>
    </div> 
</div>