footer {
    background-color: #990000;
    height: auto;
    margin-top: 10px;
}

body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-bottom: 20px;
}

.text-right-carousel img {
    padding-bottom: 5px;
}

.text-right-carousel img {
    max-width: 100%;
}

.pink img {
    max-width: 100%;
}

.placeholder {
    width: 300px;
    height: 90px;
    background-color: #990000;
}

.contact-footer {
    color: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
}

.graphics {
    padding-left: 15px;
    float: left;
    overflow: hidden;
    padding-right: 15px;
}

.graphic-img {
    float: left;
    width: 20%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.section-header {
    background-color: #990000;
    display: inline-block;
    text-align: center;
    padding: 22px 20px;
    width: 150px;
    height: 70px;
    margin-bottom: 15px;
    margin-left: -14px;
}

.graphic-wrapper {
    position: relative;
}

.carousel-right{
    padding-left: 0px;
    max-width: 100%;
}

.homepage-wrapper {
    overflow: hidden;
}

.header,
.footer-red {
    width: 1240px;
    margin: 0 auto;
}

.global-wrapper {
    padding-left: 15px;
}

.body {
    overflow: hidden;
}

.project-container {
    padding-top: 73px;
}

.logo img {
    margin-top: -15px;
}

.navbar-default{
    background-color: #787878;
}

.navbar-default .navbar-nav>li>a {
    color: #e6e6e6;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    cursor: pointer;
    background: #990000;
}
.border {
    border-bottom: solid 3px #990000;
    width: 100%;
}

.art-thumbnail:hover {
    cursor: pointer;
}

.carousel-inner img {
    margin: auto;
}

.navi-right {
    padding-right: 10px;
}

.section-title {
    font-size: 20px;
    color: #ffffff;
}

.section-graphic {
    width: 200px;
    margin-left: -14px;
}

.section-title:hover {
    color: #ffffff;
    text-decoration: none;
}

.back {
    background: #990000;
    color: #ffffff;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 55px;
}

.ball-back {
    padding-left: 8px;
}

.section-content {
    margin-left: -14px;
}

.right-carousel-bottom {
    padding-top: 10px;
}

@media screen and (max-width: 991px) {
    .text-right-carousel img {
        padding-top: 20px;
        padding-left: 15px;
    }
}

.acsvideo {
    margin-right: 10px;
    margin-top: 10px;
    width: 608px;
    height: 400px;
}

.acsvideoright {
    width: 608px;
    height: 400px;
}

@media all and (max-width: 991px) {
    .acsvideo,
    .acsvideoright {
        width: 100%;
        height: 400px;
    }
}


.contact-btn {
    margin-left: -18px;
    margin-top: -31px;
    float: left;
}

.partner-logo a img {
    width: 102px;
    padding-right: 15px;
    margin-top: 30px;
}

.social-logo a img {
    width: 30px;
    padding-bottom: 2px;
    padding-top: 5px;
}

.social-logo {
    padding-top: 125px;
    padding-right: 10px;
}

.form-head {
    color: black;
    font-size: 25px;
    text-align: center;
}

.form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-success {
    background-color: #990000;
    border-color: #787878;
    margin-right: 10px;
}

.btn-success:hover {
   background-color: #880000;
   border-color: #787878; 
}

.cancel-btn {
   border-color: #ADAAAA;
}

.contact-wrapper {
    overflow: hidden;
}

.contact-left,
.contact-right {
    float: left;
    width: 50%;
}

.contact-left {
    color: black;
    padding-top: 58px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: lighter;
}

.fb-logo img {
    margin-top: 15px;
}

.custom-thumb {
    padding-top: 10xp;
    padding-right: 10px;
    padding-bottom: 8px;
}

@media screen and (min-width: 320px) { iframe { display:none; }}

.social-logo {
    float: right;
    margin-top: -130px;
}

@media all and (min-width: 1280) {
    .social-logo {
        visibility: hidden;
    }
}

.homepage-video {
    height: 215px;
    width: 400px;
}

