footer {
    background-color: #990000;
    height: 250px;
    width: 100%;
    margin-top: 20px;
}

body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-bottom: 20px;
}

.text-right-carousel img {
    padding-bottom: 10px;
}

.text-right-carousel img {
    max-width: 100%;
}

.pink img {
    max-width: 100%;
}

.placeholder {
    width: 300px;
    height: 90px;
    background-color: #990000;
}

.contact-footer {
    margin-top: 20px;
    color: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
}

.graphics {
    padding-left: 15px;
    float: left;
    overflow: hidden;
    padding-right: 15px;
}

.graphic-img {
    float: left;
    width: 20%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.section-header {
    background-color: #990000;
    display: inline-block;
    text-align: center;
    padding: 22px 20px;
    width: 150px;
    height: 70px;
    margin-bottom: 15px;
    margin-left: -14px;
}

.graphic-wrapper {
    position: relative;
}

.carousel-right{
    padding-left: 0px;
    max-width: 100%;
}

.homepage-wrapper {
    overflow: hidden;
}

.header,
.footer {
    width: 1270px;
    margin: 0 auto;
}

.global-wrapper {
    padding-left: 15px;
}

.body {
    overflow: hidden;
}

.project-container {
    padding-top: 73px;
}

.logo img {
    margin-top: -15px;
}

.navbar-default{
    background-color: #787878;
}

.navbar-default .navbar-nav>li>a {
    color: #e6e6e6;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    cursor: pointer;
    background: #990000;
}
.border {
    border-bottom: solid 3px #990000;
    width: 100%;
}

.art-thumbnail:hover {
    cursor: pointer;
}

.carousel-inner img {
    margin: auto;
}

.navi-right {
    padding-right: 10px;
}

.section-title {
    font-size: 20px;
    color: #ffffff;
}

.section-graphic {
    width: 200px;
    margin-left: -14px;
}

.section-title:hover {
    color: #ffffff;
    text-decoration: none;
}

.back {
    background: #990000;
    color: #ffffff;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 55px;
}

.ball-back {
    padding-left: 8px;
}

.section-content {
    margin-left: -14px;
}