footer {
    background-color: #990000;
    height: 250px;
    width: 100%;
    margin-top: 10px;
}

body {
    background-color: #f8f8f8;
}

.header {
    margin-bottom: 10px;
}

.text-right-carousel {
    padding-bottom: 10px;
}

.text-right-carousel img {
    max-width: 100%;
}

.pink img {
    max-width: 100%;
}

.placeholder {
    width: 300px;
    height: 90px;
    background-color: #990000;
}

.carousel-placeholder {
    padding-left: 0px;
}

.contact-footer {
    margin-top: 20px;
    color: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
}

.graphics {
    padding-left: 15px;
    float: left;
    overflow: hidden;
    padding-right: 15px;
}

.grapic-img {
    float: left;
    width: 25%;
    padding-right: 10px;
    padding-bottom: 10px;
}

.section-header {
    background-color: orange;
    display: inline-block;
    text-align: center;
    padding: 22px 30px;
    width: 200px;
    height: 70px;
    margin-bottom: 10px;
}

.graphic-wrapper {
    position: relative;
}

.carousel-right{
    padding-left: 0px;
    max-width: 100%;
}

.homepage-wrapper {
    overflow: hidden;
}

.header,
.footer {
    width: 1270px;
    margin: 0 auto;
}

.homepage-wrapper {
    padding-left: 15px;
}

.body {
    overflow: hidden;
}

.project-container {
    padding-top: 61px;
}

.logo img {
    margin-top: -15px;
}

.navbar-default{
    background-color: #787878;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #990000;
    cursor: pointer;
}
.border {
    border-bottom: solid 4px #990000;
    width: 100%;
}